* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12pt;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    /* color: #1e1e1e; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    /* background-color: blueviolet; */
    
    
}

body {

    overflow-x: hidden;
}
img {

   max-width: 100%;
}

/* Header */
header.header nav.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


/* Main */
main.main {
    display: flex;
    
}

/* barra izquierda */
main.main .bar {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    border-radius: 50px;
    object-fit: cover;
    width: 10vh;
    background-color: purple;

}

.bar .bar-svg{
    overflow: hidden;
    min-width: 100px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

main.main .bar .bar-img {
    border-radius: 50px;
    overflow: hidden;
    min-width: 100px;
    object-fit: cover;
}

/* cuadro central */
main.main .cuadro {
    padding: 20px;
    width: 100%;
    background-color: purple;
    border-radius: 30px;
}

main.main .cuadro h1{
    font-size: 16pt;
    font-weight: bold;
    color: #f2f2f2;
    padding-bottom: 20px;
}

main.main .cuadro .track{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
main.main .cuadro .track .song {

    color: #f2f2f2;
    border-radius: 30px;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
    padding-right: 1em;
    /* 
    justify-content: space-between; */
    background-color: blueviolet;
}
main.main .cuadro .track .song img {
    border-radius: 30px;
    background-color: none;
    height: 100%;
    /* width: 200px; */
    object-fit: cover;
    margin-right: 1em;
}
main.main .cuadro .track .song .info {
    width: 100%;
}

.heart-play{
    display: flex;
    justify-content: right;
    height: 24px;
    width: 20px;
}

/* blque derecha */
main.main .cdere {
    width: 100%;
    background-color: purple;
    padding: 20px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    width: 220px;
    
}

main.main .cdere .part-right-top{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 30px;
    
}

main.main .cdere .part-right-top h2{
    font-size: 16pt;
    font-weight: bold;
    color: #f2f2f2;
}
/* 
main.main .cdere .part-right-top img{
    height: 125px;
    width: 110px;
    align-items: center;
    
} */

main.main .cdere .part-right-top .heart-bottom{
    display: flex;
}


main.main .cdere .part-right-top .part-right-pic img{
    display: flex;
    align-items: center;
    object-fit: cover;
    border-radius: 30px;
}



main.main .cdere .part-right-top .part-right-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12pt;
    font-weight: bold;
    color: #f2f2f2;
}



main.main .cdere .part-right-news{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 30px;
    
    
    
}

main.main .cdere .part-right-news h2{
    font-size: 16pt;
    font-weight: bold;
    color: #f2f2f2;
}

main.main .cdere .part-right-news .pic-arcangel{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    gap: 10px;
}

main.main .cdere .part-right-news .pic-arcangel img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}
main.main .cdere .part-right-news .pic-arcangel p{
    font-size: 12pt;
    font-weight: bold;
    color: #f2f2f2;
}

main.main .cdere .part-right-news .pic-drake{
    display: flex;
    align-items: center;
    gap: 10px;
}

main.main .cdere .part-right-news .pic-drake img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

main.main .cdere .part-right-news .pic-drake p{
    font-size: 12pt;
    font-weight: bold;
    color: #f2f2f2;
}

/* Footer */
footer.footer {
    display: flex;
    align-items: center;
    height: 150px;
    position: sticky;
    bottom: 0;
    background-color: purple;
    color: #f2f2f2;
    
}

footer.footer img {
    height: 100%;
    border-radius: 30px;
}
    